html, body {
    height:100%;
    margin:0;
    margin-top:0;
}

.header-container
{
    background-color: #1F2937;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    height: 50vh; 
    padding-bottom:100px;
}

.header-logo { 

    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
}

.link-container{

    display:flex;
    font-size: 18px;
    color: #E5E7EB;
    align-items: Center;
    margin-left:50%;
    gap: 50px;
    display:flex;
}

.header-logo-link{
    display: flex;
}
.button{
    background-color: #3882F6;
    color:#F9FAF8;
    box-sizing: border-box;
    padding: 12px;
    padding-left: 16px;
    width: 90px;
    border-radius: 15px;
}

.Secondary-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width:400px;
}

.image{
    width: 650px;
    height: 300px;
}

.secondary-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    height: 500px;
    justify-content: center;
    padding-top: 30px;
}

.text-container{
    display: flex;
    flex-flow: row wrap;
    width: 400px;
}

.text-image-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    height: 380px;
}

.section-1-container{
    background-color:white;
    height: 50vh;
    margin:0;
    color:#1F2937;

    padding:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-header{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size:36px;
    font-weight: bolder;
    margin-bottom:100px;
    
}

.images-text-container{
    display: flex;
    flex-flow: column wrap;
    height: 500px;
    align-content: center;
}

.images{
    height: 250px;
    width:250px;
    border-style: solid;
    border-width: thick;
    border-color: #3882F6;;
    border-radius: 15px;
    margin-left: 40px;
    margin-right:40px;
}

.texts{
    width: 250px;
    text-align: center;
    margin-left: 45px;
}

.section-2-container{
    height: 50vh;
    background-color: #E5E7EB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 800px;
}
.author{
    font-weight: bolder;
    margin-right: 30px;
}

.text-2-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-3-container{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-box-container{
    display: flex;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #3882F6;
    height: 160px;
    width: 1200px;
    padding: 60px;
    justify-content: space-around;
    border-radius: 15px;
}
.blue-text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.box-header{
    font-size:36px;
    font-weight: bolder;
    margin: 0px;
}
.box-text{
    margin:0px;
}
.button-blue{
    display:flex;
    height: 40px;
    width: 160px;
}
.button-text {
    display: flex;
    height: 30px;
    width: 140px;
    font-weight: bold;
    border-style: solid;
    border-width: medium;
    border-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-container{
    height: 20vh;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;


}

.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 35px;
}